In [4]:
import numpy as np
import pandas as pd

# Read the data
data = pd.read_csv("ncr_ride_bookings.csv")
data_copy = data.copy()


# ======================================================
# ðŸ“Œ Data Cleaning 
# ======================================================

data.fillna({"Avg VTAT": data["Avg VTAT"].median(),
             "Avg CTAT": data["Avg CTAT"].median(),
             "Cancelled Rides by Customer": 0,
             "Reason for cancelling by Customer": "Not Applicable",
             "Cancelled Rides by Driver": 0,
             "Driver Cancellation Reason": "Not Applicable",
             "Incomplete Rides": 0,
             "Incomplete Rides Reason": "Not Applicable",
             "Booking Value": 0,
             "Ride Distance": 0,
             "Payment Method": "Not Applicable"             
}, inplace=True)


# ======================================================
# ðŸ“Œ 1. Booking Overview
# ======================================================

booking_counts = data["Booking Status"].value_counts()
booking_percentage = data["Booking Status"].value_counts(normalize=True)*100
booking_overview = pd.DataFrame({"Booking": booking_counts, "Percentage": booking_percentage})
total_bookings = len(data)
print("*" *140)
print("ðŸ“Œ  Booking Overview".center(120))
print("*" * 140)
print(booking_overview.to_string())
print("-"*50)
print(f"{"Total Bookings":<24} {total_bookings}")

# Bookings by date
data["Date"] = pd.to_datetime(data["Date"], format="%m/%d/%Y", errors="coerce")
bookings_by_date = data.groupby(data["Date"].dt.date).size()
#display(bookings_by_date.head(10))

# Bookings by time
data["Time"] = pd.to_datetime(data["Time"], format="%H:%M:%S", errors="coerce")
data["Hour"] = data["Time"].dt.hour                    # 0â€“23
data["AM/PM"] = data["Time"].dt.strftime("%I %p")  # Pretty labels

# Sorting Time in correct order
#bookings_by_hour = (data.groupby(["Hour", "AMPM"]).size().reset_index(name="Bookings").sort_values("Hour"))
#display(bookings_by_hour[["Hour", "AMPM", "Bookings"]].style.hide(axis="index"))
# Bookings by time on date
#bookings_by_date_hour = data.groupby([data["Date"].dt.date, "Hour", "AMPM"]).size().reset_index(name="Bookings").sort_values(["Date", "Hour"])

# Peak booking hours (top 5)
print()
print("-"*40)
print("Peak Hours".center(40))
print("-"*40)

peak_hours = (
    data.groupby(["Hour", "AM/PM"])
        .size()
        .reset_index(name="Bookings")
        .sort_values("Bookings", ascending=False)
        .head(5)
)
display(peak_hours[["AM/PM", "Bookings"]].head(3).style.hide(axis="index"))

# Peak Day of week (0=Monday, 6=Sunday)
print()
print("-"*40)
print("Peak Day of week".center(40))
print("-"*40)

data["DayOfWeek"] = data["Date"].dt.day_name()

peak_days = (
    data.groupby("DayOfWeek")
        .size()
        .reset_index(name="Bookings")
        .sort_values("Bookings", ascending=False)
)
display(peak_days.head(3).style.hide(axis="index"))

# Peak Month 
print()
print("-"*40)
print("Peak Month".center(40))
print("-"*40)

data["Month"] = data["Date"].dt.month_name()

peak_months = (
    data.groupby("Month")
        .size()
        .reset_index(name="Bookings")
        .sort_values("Bookings", ascending=False)
)
display(peak_months.head(3).style.hide(axis="index"))

# Time-of-day buckets
# Define custom time-of-day ranges
print()
print("-"*40)
print("Time-of-day buckets".center(40))
print("-"*40)

def time_of_day(hour):
    if 5 <= hour < 12:
        return "Morning"
    elif 12 <= hour < 17:
        return "Afternoon"
    elif 17 <= hour < 21:
        return "Evening"
    else:
        return "Night"

data["TimeOfDay"] = data["Hour"].apply(time_of_day)
peak_times = data.groupby("TimeOfDay").size().reset_index(name="Bookings").sort_values("Bookings", ascending=False)
display(peak_times.style.hide(axis="index"))

# ======================================================
# ðŸ“Œ 2. Customer Behavior
# ======================================================
print("*" *140)
print("ðŸ“Œ Customer Behavior".center(120))
print("*" * 140)
print()
# Count number of bookings per customer
booking_counts_by_customer = data.groupby(data["Customer ID"]).size().reset_index(name="Bookings")
repeated_customers = booking_counts_by_customer[booking_counts_by_customer["Bookings"]>1]
new_customers = booking_counts_by_customer[booking_counts_by_customer["Bookings"]==1]

print(f"{"Repeated Customers :":<10} {len(repeated_customers)}")
print(f"{"New Customers :":<20} {len(new_customers)}")


# Reason for cancellation
print("-"*80)
print("Customer Cancellation Summary".center(80))
print("-"*80)
cancel_by_customer = data["Reason for cancelling by Customer"].value_counts()
customer_cancellation = cancel_by_customer.drop("Not Applicable")
cancellation_summary = customer_cancellation.reset_index()
cancellation_summary.columns = ["Reason for Cancellation", "Count"]
cancellation_summary["Percentage"] = ((cancellation_summary["Count"]/cancellation_summary["Count"].sum()) * 100).round(2)
cancellation_summary = cancellation_summary.sort_values(by="Percentage", ascending=False)
print(cancellation_summary.to_string(index=False))
print()
print("Total cancellation by Customer :", cancellation_summary["Count"].sum())
print()


# Payment method preferences
print("-"*80)
print("Payment Method Summary".center(80))
print("-"*80)
payment_method = data["Payment Method"].value_counts()
payment_method = payment_method.drop("Not Applicable")
payment_summary = payment_method.reset_index()
payment_summary.columns = ["Payment Method", "Count"]
payment_summary["Percentage"] = ((payment_summary["Count"]/payment_summary["Count"].sum())*100).round(2)
payment_summary = payment_summary.sort_values(by="Percentage", ascending=False)
print(payment_summary.to_string(index=False))
print()


# ======================================================
# ðŸ“Œ 3. Driver Behavior
# ======================================================
print("*" *140)
print("ðŸ“Œ Driver Behavior".center(120))
print("*" * 140)
print()
# Reason for cancellation
print("-"*80)
print("Driver Cancellation Summary".center(80))
print("-"*80)

driver_cancellation = data["Driver Cancellation Reason"].value_counts()
driver_cancellation = driver_cancellation.drop("Not Applicable")
driver_cancellation_summary = driver_cancellation.reset_index()
driver_cancellation_summary.columns = ["Cancellation Reason", "Count"]
driver_cancellation_summary["Percentage"] = ((driver_cancellation_summary["Count"]/driver_cancellation_summary["Count"].sum())*100).round(2)
driver_cancellation_summary = driver_cancellation_summary.sort_values(by="Percentage", ascending=False)
print(driver_cancellation_summary.to_string(index=False))
print()
print("Total cancellation by Driver :", driver_cancellation_summary["Count"].sum())
print()

# Incomplete Rides

print("-"*60)
print("Incomplete Rides Summary".center(60))
print("-"*60)
incomplete_rides = data["Incomplete Rides Reason"].value_counts()
incomplete_rides = incomplete_rides.drop("Not Applicable")
incomplete_rides_summary = incomplete_rides.reset_index()
incomplete_rides_summary.columns = ["Incomplete Rides Reason", "Count"]
incomplete_rides_summary["Percentage"] = ((incomplete_rides_summary["Count"]/incomplete_rides_summary["Count"].sum())*100).round(2)
incomplete_rides_summary = incomplete_rides_summary.sort_values(by="Percentage", ascending=False)
print(incomplete_rides_summary.to_string(index=False))
print()
print("Total Incomplete Rides :", incomplete_rides_summary["Count"].sum())
print()


# ======================================================
# ðŸ“Œ 4. Ride Performance
# ======================================================
print("="*140)
print("ðŸ“Œ Ride Performance".center(120))
print("="*140)

# Average VTAT & CTAT
print()
print(f"{'Average Vehicle Turnaround Time  :':<25} {data["Avg VTAT"].mean().round(2)}")
print(f"{'Average Customer Turnaround Time :':<25} {data["Avg CTAT"].mean().round(2)}")
print(f"{'Average Ride Distance :':<25} {data["Ride Distance"].mean().round(2)}")
print(f"{'Average Fare :':<25} {data["Booking Value"].mean().round(2)}")
print()

# ======================================================
# ðŸ“Œ 5. Service Quality
# ======================================================

print("="*140)
print("ðŸ“Œ Service Quality".center(120))
print("="*140)
print()
print(f"{'Average Driver Rating   :'} {data['Driver Ratings'].mean().round(2)}")
print(f"{'Average Customer Rating :'} {data['Customer Rating'].mean().round(2)}")
print()
print("-"*60)
print("Average Driver Ratings by Vehicle Type".center(60))
print("-"*60)
print(f"{data.groupby("Vehicle Type")["Driver Ratings"].mean().sort_values(ascending=False).round(2)}")
print()
print("-"*60)
print("Average Customer Ratings by Vehicle Type".center(60))
print("-"*60)
print(f"{data.groupby("Vehicle Type")["Customer Rating"].mean().sort_values(ascending=False).round(2)}")


# ======================================================
# ðŸ“Œ 6. Vehicle Type Analysis
# ======================================================

print("="*140)
print("ðŸ“Œ Vehicle Type Analysis".center(120))
print("="*140)
print()
print("-"*60)
print("Completed Rides".center(60))
print("-"*60)
completed_rides_by_vehicle = data.groupby("Vehicle Type")["Booking Status"].apply(lambda x: (x =="Completed").sum())
vehicle_summary = completed_rides_by_vehicle.reset_index()
vehicle_summary.columns = ["Vehicle Type", "Completed Rides"]
vehicle_summary["Percentage"] = ((vehicle_summary["Completed Rides"]/vehicle_summary["Completed Rides"].sum())*100).round(2)
vehicle_summary = vehicle_summary.sort_values(by="Percentage", ascending=False)
print(vehicle_summary.to_string(index=False))
print()
print(f"{"Total Completed Rides  :"} {vehicle_summary["Completed Rides"].sum()}")
print()
print("-"*60)
print("Canceled Rides".center(60))
print("-"*60)
canceled_rides_by_vehicle = data.groupby("Vehicle Type")["Booking Status"].apply(lambda x: (x !="Completed").sum())
vehicle_summary = canceled_rides_by_vehicle.reset_index()
vehicle_summary.columns = ["Vehicle Type", "Canceled Rides"]
vehicle_summary["Percentage"] = ((vehicle_summary["Canceled Rides"]/vehicle_summary["Canceled Rides"].sum())*100).round(2)
vehicle_summary = vehicle_summary.sort_values(by="Percentage", ascending=False)
print(vehicle_summary.to_string(index=False))
print()
print(f"{"Total Canceled Rides  :"} {vehicle_summary["Canceled Rides"].sum()}")
print()


# ======================================================
# ðŸ“Œ 7. Location Analysis (Top Pickup & Drop Points)
# ======================================================

print("="*140)
print("ðŸ“Œ Location Analysis (Top Pickup & Drop Points)".center(120))
print("="*140)
print()
print("-"*60)
print("Top 10 Pickup Locations".center(60))
print("-"*60)
print(f"{data["Pickup Location"].value_counts().sort_values(ascending=False).head(10)}")
print()
print("-"*60)
print("Top 10 Drop Locations".center(60))
print("-"*60)
print(f"{data["Drop Location"].value_counts().sort_values(ascending=False).head(10)}")
print()
print("-"*60)
print("Top 10 Pickup-Drop Combinations".center(60))
print("-"*60)
pickup_drop = data.groupby(["Pickup Location", "Drop Location"]).size().reset_index(name="Count")
print(pickup_drop.sort_values("Count", ascending=False).head(10).to_string(index=False))
print()


# ======================================================
# ðŸ“Œ 8. Monthly Revenue Trend by Vehicle Type
# ======================================================
import calendar

# Complete & Incomplete rides summary
completed = data[data["Booking Status"]== "Completed"].groupby("Month").agg(Completed_Rides = ("Booking Status", "count"), Rides_Distance = ("Ride Distance", "sum"), Completed_Rides_Revenue = ("Booking Value", "sum"))
incomplete = data[data["Booking Status"]== "Incomplete"].groupby("Month").agg(Incomplete_Rides = ("Booking Status", "count"), Ride_Distance = ("Ride Distance", "sum"), Incomplete_Rides_Revenue = ("Booking Value", "sum"))

# Monthly Summary
month_order = list(calendar.month_name[1:])
month_order.append("Total") 
monthly_summary = completed.merge(incomplete, on="Month", how="outer").fillna(0)
monthly_summary = monthly_summary.reset_index()
monthly_summary["Total Revenue"] = (monthly_summary["Completed_Rides_Revenue"] + monthly_summary["Incomplete_Rides_Revenue"])


monthly_summary["Month"] = pd.Categorical(monthly_summary["Month"], categories=month_order, ordered=True)
monthly_summary = monthly_summary.sort_values("Month")

total = pd.DataFrame({ "Month": ["Total"],
                       "Completed_Rides": [monthly_summary["Completed_Rides_Revenue"].sum()],
                       "Rides_Distance": [monthly_summary["Rides_Distance"].sum()],
                       "Completed_Rides_Revenue": [monthly_summary["Completed_Rides_Revenue"].sum()],
                       "Incomplete_Rides": [monthly_summary["Incomplete_Rides"].sum()],
                       "Ride_Distance": [monthly_summary["Ride_Distance"].sum()],
                       "Incomplete_Rides_Revenue": [monthly_summary["Incomplete_Rides_Revenue"].sum()],
                       "Total Revenue": [monthly_summary["Total Revenue"].sum()]    
})
monthly_summary = pd.concat([monthly_summary, total])

# Format to 2 decimals with rupee symbol
format_rupee = lambda x: f"â‚¹{x:,.2f}"

for col in ["Completed_Rides_Revenue", "Incomplete_Rides_Revenue", "Total Revenue"]:
    monthly_summary[col] = monthly_summary[col].apply(format_rupee)

format_distance= lambda y: f"{y:.2f}"

for cols in ["Completed_Rides", "Rides_Distance", "Incomplete_Rides", "Ride_Distance"]:
    monthly_summary[cols] = monthly_summary[cols].apply(format_distance)


print()
print("="*140)
print("ðŸ“Œ Monthly Revenue Summary".center(140))
print("="*140)
print()
display(monthly_summary.style.hide(axis="index"))



print()
print("="*140)
print("ðŸ“Œ Monthly Revenue by Vehicle Type".center(140))
print("="*140)
print()


revenue_by_vehicle = pd.pivot_table( data,
                                     index = "Month",
                                     columns = "Vehicle Type",
                                     values = "Booking Value",
                                     aggfunc = "sum",
                                     fill_value = 0).reset_index()

revenue_by_vehicle["Month"] = pd.Categorical(revenue_by_vehicle["Month"], categories = month_order, ordered=True)
revenue_by_vehicle["Total Revenue"] = revenue_by_vehicle.drop(columns=["Month"]).sum(axis=1)
revenue_by_vehicle = revenue_by_vehicle.sort_values("Month")

total_row = revenue_by_vehicle.drop(columns=["Month"]).sum()
total_row["Month"] = "Total"

revenue_by_vehicle = pd.concat([revenue_by_vehicle, pd.DataFrame([total_row])], ignore_index=True)

for col in revenue_by_vehicle.columns:
    if col !="Month":
        revenue_by_vehicle[col]= revenue_by_vehicle[col].apply(lambda x: f"â‚¹{x:,.2f}")
display(revenue_by_vehicle.style.hide(axis="index"))


with pd.ExcelWriter("ncr_analysis_output.xlsx", engine="xlsxwriter") as writer:
    revenue_by_vehicle.to_excel(writer, sheet_name= "Monthly Revenue by Vehicle", startrow=0 )
    monthly_summary.to_excel(writer, sheet_name= "Monthly Summary", startrow=0)

********************************************************************************************************************************************
                                                  ðŸ“Œ  Booking Overview
********************************************************************************************************************************************
                       Booking  Percentage
Booking Status
Completed                93000        62.0
Cancelled by Driver      27000        18.0
No Driver Found          10500         7.0
Cancelled by Customer    10500         7.0
Incomplete                9000         6.0
--------------------------------------------------
Total Bookings           150000

----------------------------------------
               Peak Hours
----------------------------------------

----------------------------------------
            Peak Day of week
----------------------------------------

----------------------------------------
               Peak Month
----------------------------------------

----------------------------------------
          Time-of-day buckets
----------------------------------------

********************************************************************************************************************************************
                                                  ðŸ“Œ Customer Behavior
********************************************************************************************************************************************

Repeated Customers : 1206
New Customers :      147582
--------------------------------------------------------------------------------
                         Customer Cancellation Summary
--------------------------------------------------------------------------------
                     Reason for Cancellation  Count  Percentage
                               Wrong Address   2362       22.50
                             Change of plans   2353       22.41
Driver is not moving towards pickup location   2335       22.24
                      Driver asked to cancel   2295       21.86
                           AC is not working   1155       11.00

Total cancellation by Customer : 10500

--------------------------------------------------------------------------------
                             Payment Method Summary
--------------------------------------------------------------------------------
Payment Method  Count  Percentage
           UPI  45909       45.01
          Cash  25367       24.87
   Uber Wallet  12276       12.04
   Credit Card  10209       10.01
    Debit Card   8239        8.08

********************************************************************************************************************************************
                                                   ðŸ“Œ Driver Behavior
********************************************************************************************************************************************

--------------------------------------------------------------------------------
                          Driver Cancellation Summary
--------------------------------------------------------------------------------
                Cancellation Reason  Count  Percentage
             Customer related issue   6837       25.32
     The customer was coughing/sick   6751       25.00
      Personal & Car related issues   6726       24.91
More than permitted people in there   6686       24.76

Total cancellation by Driver : 27000

------------------------------------------------------------
                  Incomplete Rides Summary
------------------------------------------------------------
Incomplete Rides Reason  Count  Percentage
        Customer Demand   3040       33.78
      Vehicle Breakdown   3012       33.47
            Other Issue   2948       32.76

Total Incomplete Rides : 9000

============================================================================================================================================
                                                   ðŸ“Œ Ride Performance
============================================================================================================================================

Average Vehicle Turnaround Time  : 8.45
Average Customer Turnaround Time : 29.04
Average Ride Distance :   16.75
Average Fare :            345.64

============================================================================================================================================
                                                   ðŸ“Œ Service Quality
============================================================================================================================================

Average Driver Rating   : 4.23
Average Customer Rating : 4.4

------------------------------------------------------------
           Average Driver Ratings by Vehicle Type
------------------------------------------------------------
Vehicle Type
Uber XL          4.24
Premier Sedan    4.23
Auto             4.23
Go Sedan         4.23
Bike             4.23
Go Mini          4.23
eBike            4.23
Name: Driver Ratings, dtype: float64

------------------------------------------------------------
          Average Customer Ratings by Vehicle Type
------------------------------------------------------------
Vehicle Type
Go Sedan         4.41
Uber XL          4.40
Go Mini          4.40
eBike            4.40
Bike             4.40
Premier Sedan    4.40
Auto             4.40
Name: Customer Rating, dtype: float64
============================================================================================================================================
                                                ðŸ“Œ Vehicle Type Analysis
============================================================================================================================================

------------------------------------------------------------
                      Completed Rides
------------------------------------------------------------
 Vehicle Type  Completed Rides  Percentage
         Auto            23155       24.90
      Go Mini            18549       19.95
     Go Sedan            16676       17.93
         Bike            14034       15.09
Premier Sedan            11252       12.10
        eBike             6551        7.04
      Uber XL             2783        2.99

Total Completed Rides  : 93000

------------------------------------------------------------
                       Canceled Rides
------------------------------------------------------------
 Vehicle Type  Canceled Rides  Percentage
         Auto           14264       25.02
      Go Mini           11257       19.75
     Go Sedan           10465       18.36
         Bike            8483       14.88
Premier Sedan            6859       12.03
        eBike            4006        7.03
      Uber XL            1666        2.92

Total Canceled Rides  : 57000

============================================================================================================================================
                                     ðŸ“Œ Location Analysis (Top Pickup & Drop Points)
============================================================================================================================================

------------------------------------------------------------
                  Top 10 Pickup Locations
------------------------------------------------------------
Pickup Location
Khandsa             949
Barakhamba Road     946
Saket               931
Badarpur            921
Pragati Maidan      920
Madipur             919
AIIMS               918
Mehrauli            915
Dwarka Sector 21    914
Pataudi Chowk       907
Name: count, dtype: int64

------------------------------------------------------------
                   Top 10 Drop Locations
------------------------------------------------------------
Drop Location
Ashram                936
Basai Dhankot         917
Lok Kalyan Marg       916
Narsinghpur           913
Cyber Hub             912
Kalkaji               912
Kashmere Gate ISBT    909
Udyog Vihar           906
Lajpat Nagar          904
Madipur               902
Name: count, dtype: int64

------------------------------------------------------------
              Top 10 Pickup-Drop Combinations
------------------------------------------------------------
   Pickup Location       Drop Location  Count
    DLF City Court             Bhiwadi     17
        Akshardham            RK Puram     16
         Janakpuri Faridabad Sector 15     16
      Vatika Chowk             Rithala     15
           Rithala Udyog Vihar Phase 4     15
          Jor Bagh         Rohini East     15
         Ghaziabad          Badshahpur     15
Kashmere Gate ISBT         Tilak Nagar     14
      Chirag Delhi     Noida Film City     14
     Subhash Nagar       Basai Dhankot     14


============================================================================================================================================
                                                         ðŸ“Œ Monthly Revenue Summary
============================================================================================================================================

============================================================================================================================================
                                                     ðŸ“Œ Monthly Revenue by Vehicle Type
============================================================================================================================================